*{
    margin:0;
    padding:0;
    box-sizing: border-box;/*To implement Box Model*/
}
/*Global Style*/
body{
    font-family:" Merriweather",sans-serif;
    background-color: #ebf2ff;/*Background colour for entire screen is white*/
    overflow-x:hidden;/*to avoid overflow of button*/
}
.button_primary{
    /* we use background-image since background-color does not support gradient*/
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;/*Button text color*/
    padding :12px;/*inner space*/
    border: none;/* no border*/
    border-radius: 6px;
    cursor: pointer;
}
.container{
    width: 100%;
    margin :0 auto;
    padding: 0 15px;
}

/*lets style navbar*/
.navbar{
    display:flex;/*to display side by side*/
    justify-content: space-around;
    align-items:Center;
}
.navbar_brand{
    width: 100px;
}
.navbar_logo{
    width: 100%;
}
.hero_container{
    width:100%;
}
.hero_img_container{
    width:100%;
}
.hero_img{
    width:100%;
}
.hero_txt{/* To make text to have more font size and bold*/
    font-size: 30px;
    font-weight: bold;/*Make bold*/
    color: #1d3557;/*change text colour*/
    margin: 10px 0;/* To create 20px space between image and content as well as button and content from top to bottom of size 20px*/
}

/*Menu Styles*/
.food_menu_card{
    width: 100%; /* To fix overlapping image*/
}
.food_image{
    width: 100%;
}
/* let us write media queries for tablet,pc and laptop screens*/
@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding : 10px 20px;/* top&bootom  left&right*/
    }
    .navbar_brand{
        width:150px;
    }
    .button_primary{
        padding:12px 20px;/* now button is perfect*/
        font-size: 20px;
    }
    .hero_container{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

}
@media(min-width:1020px){
    .container{
        max-width: 900px;
    }
    
    .hero_txt{
        font-size: 50px;;
    }
}
@media(min-width:1200px)
{
    .container{
        max-width: 1250px;
    }
}